<!-- Home Section - Main -->
<section class="p-4 py-8 lg:p-12 xl:p-20">
  <!-- header and Form -->
  <div
    class="flex flex-col gap-4 justify-center mb-8 lg:flex-row lg:justify-between lg:items-start lg:gap-8 lg:mb-12 xl:gap-8 2xl:gap-12"
  >
    <h1 class="text-[22px] xl:text-[26px] leading-[32px]">
      <span class="text-california">Shoppingify</span> allows you take your
      shopping list wherever you go
    </h1>

    <form class="relative lg:w-[275px]">
      <img
        src="./assets/search_icon.svg"
        alt="search icon"
        class="absolute w-[26px] h-[26px] top-[50%] translate-y-[-50%] left-4"
      />
      <input
        aria-label="search term"
        type="text"
        placeholder="search item"
        class="pl-12 p-4 bg-white rounded-[15px] w-full"
      />
    </form>
  </div>

  <div class="">
    <div class="grid gap-12">
      <!-- items -->
      <div>
        <h3 class="text-[18px] lg:text-[22px] mb-6">Fruits and Vegetables</h3>
        <ul
          class="grid gap-4 grid-cols-2 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4"
        >
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
        </ul>
      </div>
      <!-- items -->
      <div>
        <h3 class="text-[18px] lg:text-[22px] mb-6">Fruits and Vegetables</h3>
        <ul
          class="grid gap-4 grid-cols-2 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4"
        >
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
        </ul>
      </div>
      <!-- items -->
      <div>
        <h3 class="text-[18px] lg:text-[22px] mb-6">Fruits and Vegetables</h3>
        <ul
          class="grid gap-4 grid-cols-2 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4"
        >
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
        </ul>
      </div>
      <!-- items -->
      <div>
        <h3 class="text-[18px] lg:text-[22px] mb-6">Fruits and Vegetables</h3>
        <ul
          class="grid gap-4 grid-cols-2 lg:gap-6 lg:grid-cols-3 xl:grid-cols-4"
        >
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
          <li
            class="flex items-center justify-between p-4 bg-white rounded-[10px] shadow-black"
          >
            Avocado
            <img
              src="./assets/plus_grey_icon.svg"
              alt=""
              class="w-[24px] h-[24px]"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
