<aside
  class="fixed right-0 top-0 h-screen bg-peach-cream w-[calc(100%-60px)] flex flex-col translate-x-[100%] xl:w-[400px] xl:translate-x-0"
>
  <div class="p-6 flex-grow lg:p-8">
    <!-- Add Item Box -->
    <div
      class="p-4 bg-cannon-pink rounded-[20px] flex gap-8 font-bold h-[125px] items-center"
    >
      <img
        src="./assets/source.svg"
        alt="item"
        class="-mt-8 xl:hidden 2xl:block"
      />
      <div>
        <p class="text-white mb-4">Didn’t find what you need?</p>
        <button class="px-4 py-2 bg-white rounded-[12px]">Add item</button>
      </div>
    </div>

    <div class="pt-10">
      <div class="flex items-center justify-between mb-8 h-[25px]">
        <h2 class="text-[24px] text-black font-bold">Shopping List</h2>
        <button title="edit list title" class="">
          <img src="./assets/edit_icon.svg" alt="edit icon" class="w-5 h-5" />
        </button>
      </div>

      <div class="items h-[calc(85vh-280px)] overflow-y-scroll">
        <div class="pr-2">
          <!-- Category List -->
          <div class="mb-8">
            <h3 class="text-[14px] lg:text-[18px] text-gray mb-2">
              Fruit and vegetables
            </h3>
            <!-- List -->
            <ul class="text-[14px] lg:text-[18px]">
              <li class="flex items-center justify-between gap-4 mb-2">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
              <li class="flex items-center justify-between gap-4">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Category List -->
          <div class="mb-8">
            <h3 class="text-[14px] lg:text-[18px] text-gray mb-2">
              Fruit and vegetables
            </h3>
            <!-- List -->
            <ul class="text-[14px] lg:text-[18px]">
              <li class="flex items-center justify-between gap-4 mb-2">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
              <li class="flex items-center justify-between gap-4">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Category List -->
          <div class="mb-8">
            <h3 class="text-[14px] lg:text-[18px] text-gray mb-2">
              Fruit and vegetables
            </h3>
            <!-- List -->
            <ul class="text-[14px] lg:text-[18px]">
              <li class="flex items-center justify-between gap-4 mb-2">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
              <li class="flex items-center justify-between gap-4">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Category List -->
          <div>
            <h3 class="text-[14px] lg:text-[18px] text-gray mb-2">
              Fruit and vegetables
            </h3>
            <!-- List -->
            <ul class="text-[14px] lg:text-[18px]">
              <li class="flex items-center justify-between gap-4 mb-2">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
              <li class="flex items-center justify-between gap-4">
                <span>Avocado</span>
                <div
                  class="flex items-center gap-2 rounded-[12px] h-[45px] group hover:bg-white"
                >
                  <button
                    title="delete item"
                    class="bg-california rounded-[12px] px-2 h-full hidden group-hover:block"
                  >
                    <img
                      src="./assets/delete_icon.svg"
                      alt="delete icon"
                      class="w-5 h-5"
                    />
                  </button>
                  <div class="py-2 flex">
                    <button
                      title="reduce item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/minus_icon.svg"
                        alt="minus icon"
                        class="w-5 h-5"
                      />
                    </button>
                    <p
                      class="py-1 px-4 rounded-[20px] border-2 border-california text-california text-[12px]"
                    >
                      3pcs
                    </p>
                    <button
                      title="increase item"
                      class="px-2 hidden group-hover:block"
                    >
                      <img
                        src="./assets/plus_icon.svg"
                        alt="plus icon"
                        class="w-5 h-5"
                      />
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="bg-white p-4 h-[15vh] lg:p-8 flex items-center">
    <form class="relative w-full">
      <input
        type="text"
        placeholder="Enter a name"
        class="border-[2px] border-california rounded-[12px] p-4 w-full"
      />
      <button
        type="submit"
        class="absolute bg-california text-white top-0 right-0 h-full w-[90px] rounded-[12px]"
      >
        Save
      </button>
    </form>
  </div>
</aside>
