<nav
  class="h-screen flex flex-col justify-between items-stretch bg-white py-8 w-[60px] md:w-[70px] lg:w-[80px] xl:w-[90px] fixed"
>
  <!-- Logo -->
  <a routerLink="/" class="self-center">
    <img src="./assets/logo.svg" alt="shoppingify logo" />
  </a>

  <!-- MenuItems -->
  <ul class="flex flex-col gap-4 justify-center">
    <!-- items Link -->
    <li
      *ngFor="let navItem of navItems"
      class="group relative py-3 flex justify-center"
      routerLinkActive="border-l-4 border-california "
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="navItem.link">
        <img [src]="navItem.icon" [alt]="navItem.title" class="w-6 h-6" />
      </a>
      <!-- Arrow Left -->
      <span
        class="absolute left-[100%] top-[50%] translate-y-[-50%] invisible -z-1 group-hover:visible group-hover:z-1"
        ><div class="relative bg-tundora text-white p-2 px-4 rounded-[6px]">
          <span
            class="absolute w-2 h-2 -left-2 top-[50%] translate-y-[-50%] border-t-[8px] border-t-transparent border-b-[8px] border-b-transparent border-r-[8px] border-r-tundora"
          ></span>
          {{ navItem.title }}
        </div>
      </span>
    </li>
  </ul>
  <!-- Cart Button -->
  <button
    class="relative w-[40px] h-[40px] rounded-full bg-california flex items-center justify-center text-white self-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
      />
    </svg>
    <span
      class="absolute rounded-[4px] bg-burnt-sienna w-[20px] h-[20px] text-[10px] flex items-center justify-center -top-1 -right-1"
      >3
    </span>
  </button>
</nav>
